@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(24, 26, 27);
}
.card {
    position: relative;
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    
}

.card .content {
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.card .sliderText {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.card .sliderText h3 {
    color: #fff;
    font-size: 3em;
}

.card .content a {
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
}

.swiper-container {
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 16px;
    margin-left: none;
    margin-right: none; 
}

.swiper-slide {
    width: 400px;
}

.swiper-pagination {
    position: absolute;
    top: 85%;
}

@media only screen and (max-width:1000px) {
    .card {
        width: 300px;
    }
    .card .content p {
        width: 290px;
    }
    .swiper-container {
        width: 350px;
        margin: 16px;
        overflow: hidden;
    }
    .swiper-pagination {
        position: absolute;
        top: 85%;
    }
    .card .sliderText h3 {

    }
}

